$colorDark: hsl(0, 0%, 13%);
$colorGray: hsl(30, 10%, 92%);

$smallIconSize: 18px;
$mediumIconSize: 18px;

@mixin transparent-button {
  background-color: transparent;
  border: none;
}

@mixin centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin highlight-on-hover {
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: $colorDark;
}

.weather-widget {
  width: 220px;
  position: relative;

  &__settings-button {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    right: 4px;
    @include transparent-button;
    @include centered-content;
    @include highlight-on-hover;
  }

  &__settings-button-icon {
    width: 16px;
  }

  &__card {
    border: 1px solid $colorGray;
    padding: 4px;
    margin-bottom: 16px;
  }

  &__card:last-child {
    margin-bottom: 0px;
  }

  &__title {
    margin: 16px;
    font-weight: bold;
  }

  &__main-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__weather-icon {
    flex: 1;
  }

  &__temperature {
    flex: 1;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }

  &__additional-info {
    margin-bottom: 4px;
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
  }

  &__detail {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 8px 4px 0 0;
  }

  &__detail-icon {
    width: 16px;
    margin-right: 4px;
  }

  &__location {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    margin-bottom: 8px;
    background-color: $colorGray;
  }

  &__location:last-child {
    margin-bottom: 0;
  }

  &__location-button {
    width: 24px;
    height: 24px;
    @include transparent-button;
    @include centered-content;
  }

  &__location-icon {
    width: 18px;
    margin-right: 4px;
  }

  &__location-name {
    flex-grow: 1;
  }

  &__location-button-icon {
    width: 18px;
    opacity: 0.8;
  }

  &__location-button-icon:hover {
    opacity: 1;
  }

  &__remove-location-button {
    @include transparent-button;
    @include centered-content;
    @include highlight-on-hover;
  }

  &__remove-location-button-icon {
    width: 14px;
  }

  &__add-location-form {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 28px;
  }

  &__add-location-input {
    flex-grow: 1;
  }

  &__suggestions {
    position: absolute;
    border: 1px solid $colorGray;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }

  &__suggestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid $colorGray;

    &:hover {
      background-color: $colorGray;
    }
  }

  &__suggestion-icon {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    opacity: 0.8;
  }
}
